<%- include('./includes/head.ejs') %>
<div class="container">
<main>
<%if(errorMessage) {%>
    <p class="alert alert-danger"><%=errorMessage%></p>
<%}%>
<div class="auth-form">
    <h1>Logowanie do panelu Administratora</h1>
    <p>Testowy administrator: E-mail: test1@test.com Hasło: 123456</p>
    <form action="/admin/login" method="POST">
        <div class="field">
            <input type="email" name="email" placeholder="E-Mail" class="form-control">
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Hasło" class="form-control">
        </div>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button class="btn btn-dark" type="submit">Login</button>
    </form>

</div>
</main>
<%- include('./includes/footer.ejs') %>